.ItemDetail
{
    display: flex;
    justify-content: center;
    text-align: center;
}
.ItemDetail .ItemDetailCard
{
    margin:2rem;
}

#dotWaveDiv
{
    height: 30rem;
    display: flex;
    align-items: center;
}